In [164]:
import  pandas as pd
import numpy as np

## Question 1

In [163]:
pd.__version__

'1.3.4'

In [35]:
!ls

'HW Week1.ipynb'

In [13]:
df=pd.read_csv("../housing.csv")

In [167]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

## Question 2

In [165]:
cols=df.shape[1]

In [166]:
cols

10

In [170]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

## Question 3

In [168]:
missing_data=df.isnull().sum()

In [169]:
missing_data

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [171]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

##  Question 4

In [69]:
a=df.value_counts('ocean_proximity')

In [172]:
print("Unique Values  of Column ocean_proximity ",a)

Unique Values  of Column ocean_proximity  ocean_proximity
<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
dtype: int64

## Question 5

In [77]:
df['median_house_value'].agg('mean')

206855.81690891474

In [80]:
near_bay_avg_value=df[df['ocean_proximity']=='NEAR BAY']['median_house_value'].mean()

In [ ]:
round(near_bay_avg_value)

## Question 6

In [96]:
avg_br=df['total_bedrooms'].agg('mean')

In [97]:
avg_br

537.8705525375618

In [94]:
new_df=df['total_bedrooms'].fillna(avg_br)

In [106]:
new_df.describe()

count    20640.000000
mean       537.870553
std        419.266592
min          1.000000
25%        297.000000
50%        438.000000
75%        643.250000
max       6445.000000
Name: total_bedrooms, dtype: float64

### Question 7

In [131]:
df_islands=df[df['ocean_proximity']=='ISLAND']

In [138]:
X=df_islands[['housing_median_age','total_rooms','total_bedrooms']].to_numpy()

In [140]:
X

array([[  27., 1675.,  521.],
       [  52., 2359.,  591.],
       [  52., 2127.,  512.],
       [  52.,  996.,  264.],
       [  29.,  716.,  214.]])

In [143]:
xt=X.T

In [145]:
xt

array([[  27.,   52.,   52.,   52.,   29.],
       [1675., 2359., 2127.,  996.,  716.],
       [ 521.,  591.,  512.,  264.,  214.]])

In [147]:
XTX=xt.dot(X)

In [149]:
XTX

array([[9.6820000e+03, 3.5105300e+05, 9.1357000e+04],
       [3.5105300e+05, 1.4399307e+07, 3.7720360e+06],
       [9.1357000e+04, 3.7720360e+06, 9.9835800e+05]])

In [152]:
inverse_XTX = np.linalg.inv(XTX)

In [153]:
inverse_XTX

array([[ 9.19403586e-04, -3.66412216e-05,  5.43072261e-05],
       [-3.66412216e-05,  8.23303633e-06, -2.77534485e-05],
       [ 5.43072261e-05, -2.77534485e-05,  1.00891325e-04]])

In [156]:
y=np.array([950, 1300, 800, 1000, 1300])

In [161]:
final_op=inverse_XTX.dot(xt).dot(y)

In [162]:
final_op

array([23.12330961, -1.48124183,  5.69922946])